.custom-send-margin {
  margin-left: 25px;
  margin-right: 25px;
}

.custom-send-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  #custom-send-header {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #slide-toggle {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .custom-send-form {
    .mat-form-field-wrapper {
      margin-bottom: -1.5em !important;
    }

    .custom-send-mat-form-field {
      margin-bottom: 20px;

      .mat-form-field-infix {
        line-height: 1.35;
      }
    }

    input[type="text"],
    mat-label,
    textarea,
    mat-select,
    a mat-option {
      font-size: 16px;
    }
  }
  // Fixing letters being cut off at bottom

  .full-width {
    width: 100%;
  }
}
