$ad-red: (
  50: #ffecef,
  100: #ffcfd5,
  200: #f99d9e,
  300: #f37678,
  400: #ff5555,
  500: #ff4239,
  600: #f7393a,
  700: #e42e33,
  800: #d7262c,
  900: #c8191f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd7d7,
  A700: #ffbebe,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$ad-blue: (
  50: #e2f1ff,
  100: #bbdcff,
  200: #8dc6ff,
  300: #5db0ff,
  400: #389eff,
  500: #1b8dff,
  600: #287eff,
  700: #2d6bea,
  800: #3059d7,
  900: #3136b7,
  A100: #ffffff,
  A200: #f7f9ff,
  A400: #c4d2ff,
  A700: #abbeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
