<div class="wrapper">
  <h3>Add Writer</h3>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <form
    class="add-writer-form"
    #addWriterForm="ngForm"
    (ngSubmit)="onSubmit(addWriterForm)"
  >
    <mat-form-field appearance="outline" class="full-width my-mat-form-fields">
      <mat-label>Name</mat-label>
      <input type="text" matInput id="name" name="name" ngModel required />
    </mat-form-field>
    <mat-slide-toggle
      matInput
      id="prefers-email"
      name="prefersEmail"
      (change)="onPrefersEmailChange()"
      ngModel
    >
      Prefers email
    </mat-slide-toggle>
    <mat-form-field appearance="outline" class="full-width my-mat-form-fields">
      <mat-label>
        Email
        <span *ngIf="emailInput.errors?.required"> *</span>
      </mat-label>
      <input
        type="text"
        matInput
        id="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        email
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width my-mat-form-fields">
      <mat-label>
        Phone #
        <span *ngIf="phoneInput.errors?.required"> *</span>
      </mat-label>
      <input
        type="text"
        matInput
        id="phone"
        name="phone"
        ngModel
        #phoneInput="ngModel"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width my-mat-form-fields">
      <mat-label>Default # Of Addresses</mat-label>
      <mat-select
        id="default-address-amount"
        name="defaultAddressAmount"
        ngModel
        required
      >
        <mat-option>None</mat-option>
        <!-- https://stackoverflow.com/questions/36354325/angular-2-ngfor-using-numbers-instead-collections -->
        <mat-option
          *ngFor="let item of [].constructor(10); let i = index"
          [value]="i + 1"
        >
          {{ i + 1 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width my-mat-form-fields">
      <mat-label>Color</mat-label>
      <mat-select id="color" name="color" ngModel>
        <mat-option
          *ngFor="let color of colors"
          [ngStyle]="{ 'background-color': color.colorValue }"
          [value]="color.colorValue"
        >
          {{ color.colorName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <br />
    <button
      type="submit"
      [disabled]="!addWriterForm.valid"
      class="submit-button"
    >
      SUBMIT
    </button>
    <button
      type="button"
      class="cancel-button"
      style="margin-left: 30px"
      (click)="onCancel()"
    >
      CANCEL
    </button>
  </form>
</div>
