<div class="page-wrapper">
  <div class="top-section">
    <h2>Assigned Addresses</h2>
    <span class="spacer"></span>
    <div class="add-address-button">
      <button type="button" class="add-button" (click)="onAddAddresses()">
        <p>Add Address</p>
        <span class="spacer"></span>
        <img src="../../assets/images/icons/add-icon.svg" alt="add-icon" />
      </button>
    </div>
  </div>

  <!-- <mat-form-field appearance="outline" class="full-width">
    <mat-label>Search</mat-label>
    <input type="search" matInput [(ngModel)]="searchTerm" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field> -->

  <div class="container" id="container">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="addresses-section" *ngIf="!loading">
      <div
        *ngFor="let writer of filteredWriters; first as isFirst"
        [class.first]="isFirst"
      >
        <h3>{{ writer.name }}</h3>

        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let address of addressesByName(writer); let i = index"
          >
            <mat-expansion-panel-header *ngIf="address">
              <mat-panel-title> {{ address.name }} </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <span *ngIf="address.age">Age: {{ address.age }}<br /></span>
              {{ address.street }} <br />
              {{ address.city }}, {{ address.state }} {{ address.zip }} <br />
              <span *ngFor="let phone of address.phone">
                {{ phone }} <br />
              </span>
              <span *ngIf="address.dateCreated">
                <br />Address added on
                {{ address.dateCreated | date: "shortDate" }} at
                {{ address.dateCreated | date: "shortTime" }}
              </span>
              <!-- Assignment Information -->
              <span *ngIf="address.assignmentHistory[0]">
                <br />
                <span *ngFor="let addressData of address.assignmentHistory">
                  <span *ngIf="addressData.wasAssigned">
                    <mat-icon class="assignment-data-icon">
                      edit_location_alt
                    </mat-icon>
                    Assigned to
                    {{ addressData.writerName }}
                  </span>
                  <span *ngIf="!addressData.wasAssigned">
                    <mat-icon class="assignment-data-icon">place</mat-icon>
                    Unassigned
                  </span>
                  on
                  {{ addressData.date | date: "shortDate" }} at
                  {{ addressData.date | date: "shortTime" }}
                  <br />
                </span>
              </span>
            </p>
            <mat-action-row>
              <button
                mat-button
                color="primary"
                (click)="onUnassign(address.id, writer.id)"
              >
                Unassign
              </button>
              <button mat-button color="primary" (click)="onEdit(address)">
                Edit
              </button>
              <button mat-button color="warn" (click)="onDelete(address)">
                Delete
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="addressesByName(writer).length < 1">
          No addresses assigned to {{ writer.name }}
        </div>
      </div>
    </div>

    <!-- Filtering section -->
    <div class="filter-section" *ngIf="!mobile">
      <img
        src="../../../assets/images/icons/reveal-persons-icon-blue.svg"
        alt="filter-icon"
      />
      <!-- dropdown for filter by -->
      <mat-form-field appearance="outline" id="filter-by-dropdown">
        <mat-label>Filter By...</mat-label>
        <mat-select
          name="filterBy"
          [(ngModel)]="filterBy"
          (selectionChange)="onSelectionChange()"
        >
          <mat-option style="color: red">None</mat-option>
          <mat-option
            *ngFor="let filterByOption of filterByOptions"
            [value]="filterByOption"
            >{{ formatFilterByOption(filterByOption) }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <!-- Filter search -->
      <mat-form-field
        appearance="outline"
        class="full-width"
        id="search-bar"
        *ngIf="filterBy"
      >
        <mat-label>Search</mat-label>
        <input type="search" matInput [(ngModel)]="searchTerm" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Filter options -->
      <mat-spinner *ngIf="writersLoading"></mat-spinner>
      <div *ngIf="!writersLoading && filterBy">
        <p *ngFor="let filterOption of filterOptionsSearchResults">
          <mat-checkbox color="primary">
            {{ filterOption }}
          </mat-checkbox>
        </p>
        <p (click)="clearFilter()" class="none">None</p>
      </div>
    </div>
  </div>

  <button
    class="filter-section-toggle"
    *ngIf="mobile"
    (click)="openBottomSheet()"
  >
    <img
      src="../../../assets/images/icons/reveal-persons-icon-blue.svg"
      alt="filter-icon"
    />
  </button>
</div>
