<div class="page-wrapper">
  <h2>Assigned Addresses</h2>
  <form></form>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Search</mat-label>
    <input type="search" matInput [(ngModel)]="searchTerm" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="container" id="container">
    <div class="addresses-section">
      <div
        *ngFor="let writer of filteredWriters; first as isFirst"
        [class.first]="isFirst"
      >
        <h3>{{ writer.name }}</h3>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let address of addressesByName(writer)">
            <mat-expansion-panel-header>
              <mat-panel-title> {{ address.name }} </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <span *ngIf="address.age">Age: {{ address.age }}<br /></span>
              {{ address.street }} <br />
              {{ address.city }}, {{ address.state }} {{ address.zip }} <br />
              {{ address.phone }}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="filter-section" *ngIf="!mobile">
      <h3>
        <img
          src="../../../assets/images/icons/reveal-persons-icon-blue.svg"
          alt="filter-icon"
        />
        Filter By Writer
      </h3>

      <mat-divider></mat-divider>

      <p *ngFor="let writer of writers">
        <a (click)="filter(writer.name)">{{ writer.name }}</a>
      </p>
      <p (click)="clearFilter()" class="none">None</p>
    </div>
  </div>

  <button
    class="filter-section-toggle"
    *ngIf="mobile"
    (click)="openBottomSheet()"
  >
    <img
      src="../../../assets/images/icons/reveal-persons-icon-blue.svg"
      alt="filter-icon"
    />
  </button>
</div>
