<h2 mat-dialog-title>
  Please confirm that you would like to send the following message to
  {{ data.writerName }} at
  {{
    data.messageData.writerPhone
      ? data.messageData.writerPhone
      : data.messageData.writerEmail
  }}:
</h2>
<mat-dialog-content>
  <span *ngIf="data.messageData.subject" style="font-weight: bold">
    Subject: {{ data.messageData.subject }}
    <br />
    <br />
  </span>
  <span *ngIf="data.messageData.startComment">
    {{ data.messageData.startComment }}
    <br />
    <br />
  </span>
  <div *ngFor="let address of data.messageData.addresses">
    {{ address.name }}{{ address.age ? " (Age: " + address.age + ")" : "" }}
    <br />
    {{ address.street }} <br />
    {{ address.city }}, {{ address.state }} {{ address.zip }} <br />
    <span *ngFor="let phone of address.phone">{{ phone }} <br /></span>
    <br />
  </div>
  <span *ngIf="data.messageData.endComment">{{
    data.messageData.endComment
  }}</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="true">Confirm</button>
  <button mat-button mat-dialog-close mat-dialog-close="false">Cancel</button>
  <button
    *ngIf="!data.customSend"
    mat-button
    mat-dialog-close
    mat-dialog-close="edit"
  >
    Edit Message
  </button>
</mat-dialog-actions>
