<div class="page-container">
  <div id="heading-wrapper" *ngIf="isSignedIn">
    <button
      mat-button
      class="menu-button"
      id="menu-button"
      (click)="sidenav.toggle()"
    >
      <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
    </button>
    <div class="logo">
      <a routerLink="/"
        ><img
          src="../../assets/images/logos/Address-Dispenser-Long-Text.svg"
          alt="Address-Dispenser"
          height="38"
      /></a>
    </div>

    <div class="account"></div>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      autoFocus="false"
      mode="over"
      [(opened)]="isMenuOpen"
      class="sidenav"
      (click)="onSideNavClick()"
    >
      <a mat-button routerLink="/">
        <mat-icon class="nav-icon">home</mat-icon><span>Home</span>
      </a>
      <a mat-button routerLink="/send-addresses">
        <mat-icon class="nav-icon">send</mat-icon>
        <span>Send Addresses</span>
      </a>
      <a mat-button routerLink="/writers">
        <mat-icon class="nav-icon">create</mat-icon>
        <span>Writers</span>
      </a>
      <a mat-button routerLink="/available-addresses">
        <mat-icon class="nav-icon">place</mat-icon>
        <span>Available Addresses</span>
      </a>
      <a mat-button routerLink="/assigned-addresses">
        <mat-icon class="nav-icon">edit_location_alt</mat-icon>
        <span>Assigned Addresses</span>
      </a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main [class.noPadding]="!isSignedIn">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
