<div class="page-container">
  <div id="heading-wrapper">
    <button
      mat-button
      class="menu-button"
      id="menu-button"
      (click)="sidenav.toggle()"
    >
      <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
    </button>
    <div class="logo">
      <a routerLink="/"
        ><img
          src="../../assets/images/logos/Address-Dispenser-Long-Text.svg"
          alt="Address-Dispenser"
          height="38"
      /></a>
    </div>

    <div class="account"></div>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      autoFocus="false"
      mode="over"
      [(opened)]="isMenuOpen"
      class="sidenav"
      (click)="onSideNavClick()"
    >
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/send-addresses">Send Addresses</a>
      <a mat-button routerLink="/writers">Writers</a>
      <a mat-button routerLink="/available-addresses">Available Addresses</a>
      <a mat-button routerLink="/assigned-addresses">Assigned Addresses</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
