#edit-header {
  margin-bottom: 0;
  margin-top: 20px;
}

form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding-bottom: 0;

  .mat-form-field-wrapper {
    margin-bottom: -1.5em !important;
  }

  .my-mat-form-field {
    margin-bottom: 20px;

    .mat-form-field-infix {
      line-height: 1.35;
    }
  }
}

.my-mat-form-field:first-of-type {
  margin-top: 20px;
}

#address-submit {
  margin-top: 35px;
  margin-right: 30px;
}

.phone-controls {
  margin-top: 20px;

  display: flex;

  mat-icon {
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
  }

  mat-form-field {
    margin-top: 0;
  }
}

.add-phone-number {
  margin-top: 20px;

  a {
    display: flex;
  }

  #add-phone {
    align-self: center;
  }

  mat-icon {
    margin-right: 20px;
  }
}

.full-width {
  width: 100%;
}
