<div class="sort-select-wrapper">
  <mat-icon id="sort-icon">sort</mat-icon>
  <!-- dropdown for sort by -->
  <mat-form-field appearance="outline" id="sort-by-dropdown">
    <mat-label>Sort By...</mat-label>
    <mat-select
      name="sortBy"
      [(ngModel)]="sortSelection.sortBy"
      (selectionChange)="onSortByChange()"
    >
      <mat-option
        *ngFor="let sortByOption of sortByOptions"
        [value]="sortByOption"
      >
        {{ formatSortByOption(sortByOption) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    id="ascending-toggle"
    (click)="toggleAscending()"
    [title]="getAscendingTitle()"
  >
    <mat-icon *ngIf="sortSelection.ascending">arrow_upward</mat-icon>
    <mat-icon *ngIf="!sortSelection.ascending">arrow_downward</mat-icon>
  </button>
</div>
