<div class="filter-bottom-sheet">
  <mat-icon id="filter-icon" alt="filter-icon">filter_alt</mat-icon>
  <!-- dropdown for filter by -->
  <mat-form-field
    appearance="outline"
    id="filter-by-dropdown"
    class="my-mat-form-field"
  >
    <mat-label>Filter By...</mat-label>
    <mat-select
      name="filterBy"
      [(ngModel)]="filterBy"
      (selectionChange)="onFilterByChange()"
    >
      <mat-option
        *ngFor="let filterByOption of filterByOptions"
        [value]="filterByOption"
        >{{ formatOption(filterByOption) }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-divider *ngIf="filterBy"></mat-divider>

  <!-- Filter options -->
  <p *ngFor="let filterOption of filterOptions">
    <mat-checkbox color="primary">
      {{ formatFilterOption(filterOption) }}
    </mat-checkbox>
  </p>
</div>
