.page-wrapper {
  margin-left: 25px;
  margin-right: 25px;

  .top {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .add-many-toggle {
    font-size: 12px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
  }

  form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    margin-top: 10px;
    padding-bottom: 0;

    .mat-form-field-wrapper {
      margin-bottom: -0.5em;
    }
  }

  mat-form-field:first-of-type {
    margin-top: 20px;
  }

  button {
    margin-top: 35px;
  }

  .success-box {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
    padding: 10px;
    background-color: #ff5555;
    opacity: 0.7;
    border-radius: 10px;
  }

  .phone-controls {
    margin-top: 20px;

    display: flex;

    mat-icon {
      align-self: center;
      margin-right: 20px;
      cursor: pointer;
    }

    mat-form-field {
      margin-top: 0;
    }
  }

  .add-phone-number {
    margin-top: 20px;

    a {
      display: flex;
    }

    #add-phone {
      align-self: center;
    }

    mat-icon {
      margin-right: 20px;
    }
  }
}

.full-width {
  width: 100%;
}
