<button type="button" (click)="onSendAddresses()">
  <p>Send Addresses</p>
  <span class="spacer"></span>
  <img src="../../assets/images/icons/Airplane.svg" alt="airplane" />
</button>
<button
  type="button"
  id="writers-button"
  class="pen-button"
  (click)="onWriters()"
>
  <p>Writers</p>
  <span class="spacer"></span>
  <img src="../../assets/images/icons/Pen.svg" alt="airplane" id="pen-icon" />
</button>
<button type="button" id="addresses-button" (click)="onAddresses()">
  <p>Addresses</p>
  <span class="spacer"></span>
  <img src="../../assets/images/icons/Address_Icon.svg" alt="airplane" />
</button>
