<div class="container">
  <div class="top-wrapper">
    <h3>Writers</h3>
    <button type="button" id="add-writer" (click)="onAddWriter()">
      <p>Add Writer</p>
      <span class="spacer"></span>
      <img src="../../assets/images/icons/add-icon.svg" alt="add-icon" />
    </button>
  </div>
  <div class="loading-icon" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="writers-wrapper" *ngIf="!isLoading">
    <div *ngFor="let writer of writers" class="writers-section">
      <div
        [style.backgroundColor]="writer.color"
        class="grid-display writer-card"
      >
        <div class="writer-card-content">
          <div class="info">
            <p class="writer-name">{{ writer.name }}</p>
            <p>Phone: {{ writer.phone }}</p>
            <p>Email: {{ writer.email }}</p>
            <p>
              Preferred Mode Of Contant:
              {{ writer.prefersText ? "Phone" : "Email" }}
            </p>
            <p>Default # of Addresses: {{ writer.defaultAddressAmount }}</p>
            <!--
            <p>
              Total Checked Out:
              {{ writer.totalCheckedOut ? writer.totalCheckedOut : "0" }}
            </p> -->
          </div>
          <div class="center">|</div>
          <div class="center">
            <a
              ><mat-icon id="edit-icon" (click)="onEdit(writer.id)"
                >edit</mat-icon
              ></a
            >
            <br />
            <br />
            <a (click)="onDelete(writer)">
              <mat-icon id="delete-icon">delete</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
