<div class="container">
  <div class="top-wrapper">
    <h3>Writers</h3>
    <button type="button" id="add-writer">
      <p>Add Writer</p>
      <span class="spacer"></span>
      <img src="../../assets/images/icons/add-icon.svg" alt="add-icon" />
    </button>
  </div>

  <div class="writers-wrapper">
    <div *ngFor="let writer of writers" class="writers-section">
      <button [style.backgroundColor]="writer.color">
        <p class="writer-name">{{ writer.name }}</p>
        <p>Phone: {{ writer.phone }}</p>
        <p>Email: {{ writer.email }}</p>
        <p>
          Preferred Mode Of Contant:
          {{ writer.prefersText ? "Phone" : "Email" }}
        </p>
        <p>Default # of Addresses: {{ writer.defaultAddressAmount }}</p>
        <p>
          Total Checked Out:
          {{ writer.totalCheckedOut ? writer.totalCheckedOut : "0" }}
        </p>
      </button>
    </div>
  </div>
</div>
